<?xml version='1.0' encoding='utf-8'?>

<plugin id="cordova-plugin-devtemplate" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>SimplePlugin</name>
    <description>Cordova Plugin Template</description>
    <license>MIT</license>
    <keywords>cordova,plugin,template</keywords>
    <js-module name="SimplePlugin" src="www/SimplePlugin.js">
        <!-- window.SimplePlugin와 같이 사용할 window 변수 이름 -->
        <clobbers target="SimplePlugin" />
        <!--<clobbers target="cordova.plugins.SimplePlugin" />-->
    </js-module>
	<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
		<!--<config-file target="config.xml" parent="/*">-->
			<feature name="SimplePlugin">
				<param name="android-package" value="kyungseo.cordova.plugins.SimplePlugin" />
                <param name="onload" value="true" />
			</feature>
		</config-file>
        <source-file src="src/android/SimplePlugin.java" target-dir="src/kyungseo/cordova/plugins" />
	</platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SimplePlugin">
                <param name="ios-package" value="SimplePlugin" onload="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/SimplePlugin.swift" />
        <dependency id="cordova-plugin-add-swift-support" url="https://github.com/akofman/cordova-plugin-add-swift-support"/>
    </platform>
    <author>Kyungseo.Park@gmail.com</author>
</plugin>
